In [2]:
start_legend

In [2]:
%%python
a = 4
for i in range(a):
    print(i)

Python code executed successfully.
------Output-----
   0
1
2
3

In [1]:
drop_all_tables local::DuckDuckConnection

Dropped tables: sample__sport, sample__tree, test3, test4

In [1]:
load /home/shannu/Documents/CSV/employee.csv local::DuckDuckConnection

Loaded into table: 'test11'. RowCount: 50

In [1]:
db local::DuckDuckConnection

Column Name,Type
Athlete,VARCHAR(0)
Age,BIGINT
Country,VARCHAR(0)
Year,BIGINT
Date,DATE
Sport,VARCHAR(0)
Gold,BIGINT
Silver,BIGINT
Bronze,BIGINT
Column Name,Type
city,VARCHAR(0)
country,VARCHAR(0)
year,BIGINT
tree,BIGINT
Column Name,Type
EMPLOYEE_ID,BIGINT
FIRST_NAME,VARCHAR(0)
LAST_NAME,VARCHAR(0)
EMAIL,VARCHAR(0)
PHONE_NUMBER,VARCHAR(0)
HIRE_DATE,VARCHAR(0)
JOB_ID,VARCHAR(0)
SALARY,BIGINT
COMMISSION_PCT,BIGINT
MANAGER_ID,BIGINT
DEPARTMENT_ID,BIGINT

In [6]:
get_attributes local::DuckDuckConnection.test3

{
  "attributes": [
    "EMPLOYEE_ID",
    "FIRST_NAME",
    "LAST_NAME",
    "EMAIL",
    "PHONE_NUMBER",
    "HIRE_DATE",
    "JOB_ID",
    "SALARY",
    "COMMISSION_PCT",
    "MANAGER_ID",
    "DEPARTMENT_ID"
  ]
}

In [1]:
#>{local::DuckDuckDatabase.test3}#->filter{x|$x.JOB_ID == 'FI_ACCOUNT'}->select(~[EMPLOYEE_ID, FIRST_NAME, LAST_NAME])->from(local::DuckDuckRuntime)

In [1]:
#>{local::DuckDuckDatabase.test3}#->filter(x|$x.JOB_ID == 'FI_ACCOUNT')->select(~[EMPLOYEE_ID, JOB_ID, SALARY])->from(local::DuckDuckRuntime)

   EMPLOYEE_ID      JOB_ID  SALARY
0          109  FI_ACCOUNT    9000
1          110  FI_ACCOUNT    8200
2          111  FI_ACCOUNT    7700
3          112  FI_ACCOUNT    7800
4          113  FI_ACCOUNT    6900

In [2]:
#>{local::DuckDuckDatabase.test3}#->filter(x|$x.JOB_ID == 'FI_ACCOUNT')->select(~[EMPLOYEE_ID, JOB_ID, SALARY])->from(local::DuckDuckRuntime) --save "Result.csv"

   EMPLOYEE_ID      JOB_ID  SALARY
0          109  FI_ACCOUNT    9000
1          110  FI_ACCOUNT    8200
2          111  FI_ACCOUNT    7700
3          112  FI_ACCOUNT    7800
4          113  FI_ACCOUNT    6900

In [3]:
macro JOB_CHECKER = $x.JOB_ID == 'FI_ACCOUNT'

Macro 'JOB_CHECKER' defined.

In [10]:
macro MY_TABLE = {local::DuckDuckDatabase.test3}

Macro 'MY_TABLE' defined.

In [11]:
macro MY_RUNTIME = from(local::DuckDuckRuntime)

Macro 'MY_RUNTIME' defined.

In [3]:
#>{local::DuckDuckDatabase.test3}#->filter(x|macro{JOB_CHECKER})->select(~[EMPLOYEE_ID])->from(local::DuckDuckRuntime)

Empty DataFrame
Columns: []
Index: []

In [4]:
#>{local::DuckDuckDatabase.test3}#->filter(x|macro{JOB_CHECKER})->select(~[EMPLOYEE_ID])->macro{MY_RUNTIME}

Empty DataFrame
Columns: []
Index: []

In [14]:
#>macro{MY_TABLE}#->filter(x|macro{JOB_CHECKER})->select(~[EMPLOYEE_ID])->macro{MY_RUNTIME}

   EMPLOYEE_ID
0          109
1          110
2          111
3          112
4          113

In [15]:
show_macros

Defined Macros:

macro{MY_TABLE} = {local::DuckDuckDatabase.test3}

macro{JOB_CHECKER} = $x.JOB_ID == 'FI_ACCOUNT'

macro{MY_RUNTIME} = from(local::DuckDuckRuntime)

In [16]:
macro JOB_CHECKER = $x.JOB_ID == 'FB_ACCOUNT'

Macro 'JOB_CHECKER' defined.

In [17]:
show_macros

Defined Macros:

macro{MY_TABLE} = {local::DuckDuckDatabase.test3}

macro{JOB_CHECKER} = $x.JOB_ID == 'FB_ACCOUNT'

macro{MY_RUNTIME} = from(local::DuckDuckRuntime)

In [18]:
macro JOB_CHECKER = $x.JOB_ID == 'FI_ACCOUNT'

Macro 'JOB_CHECKER' defined.

In [19]:
show_macros

Defined Macros:

macro{MY_TABLE} = {local::DuckDuckDatabase.test3}

macro{JOB_CHECKER} = $x.JOB_ID == 'FI_ACCOUNT'

macro{MY_RUNTIME} = from(local::DuckDuckRuntime)

In [20]:
clear_macros

All macros cleared.

In [21]:
show_macros

Defined Macros:

In [23]:
get_tables local::DuckDuckConnection

{
  "tables": [
    "sample__sport",
    "sample__tree",
    "test3"
  ]
}

In [ ]:
#>{local::DuckDuckDatabase.test3}# -> select(~[