In [1]:
start_legend

In [2]:
%%python
a = 4
for i in range(a):
    print(i)

Python code executed successfully.
------Output-----
   0
1
2
3

In [3]:
drop_all_tables local::DuckDuckConnection

Dropped tables: sample__sport, sample__tree, test3

In [4]:
load /home/shannu/Documents/CSV/employee.csv local::DuckDuckConnection

Loaded into table: 'test3'. RowCount: 50

In [5]:
db local::DuckDuckConnection

Database local::DB
(
  Table sample__sport
  (
    Athlete VARCHAR(0),
    Age BIGINT,
    Country VARCHAR(0),
    Year BIGINT,
    Date DATE,
    Sport VARCHAR(0),
    Gold BIGINT,
    Silver BIGINT,
    Bronze BIGINT
  )
  Table sample__tree
  (
    city VARCHAR(0),
    country VARCHAR(0),
    year BIGINT,
    tree BIGINT
  )
  Table test3
  (
    EMPLOYEE_ID BIGINT,
    FIRST_NAME VARCHAR(0),
    LAST_NAME VARCHAR(0),
    EMAIL VARCHAR(0),
    PHONE_NUMBER VARCHAR(0),
    HIRE_DATE VARCHAR(0),
    JOB_ID VARCHAR(0),
    SALARY BIGINT,
    COMMISSION_PCT BIGINT,
    MANAGER_ID BIGINT,
    DEPARTMENT_ID BIGINT
  )
)

In [6]:
get_attributes local::DuckDuckConnection.test3

{
  "attributes": [
    "EMPLOYEE_ID",
    "FIRST_NAME",
    "LAST_NAME",
    "EMAIL",
    "PHONE_NUMBER",
    "HIRE_DATE",
    "JOB_ID",
    "SALARY",
    "COMMISSION_PCT",
    "MANAGER_ID",
    "DEPARTMENT_ID"
  ]
}

In [7]:
#>{local::DuckDuckDatabase.test3}#->filter{x|$x.JOB_ID == 'FI_ACCOUNT'}->select(~[EMPLOYEE_ID, FIRST_NAME, LAST_NAME])->from(local::DuckDuckRuntime)

In [8]:
#>{local::DuckDuckDatabase.test3}#->filter(x|$x.JOB_ID == 'FI_ACCOUNT')->select(~[EMPLOYEE_ID])->from(local::DuckDuckRuntime)

   EMPLOYEE_ID
0          109
1          110
2          111
3          112
4          113

In [9]:
macro JOB_CHECKER = $x.JOB_ID == 'FI_ACCOUNT'

Macro 'JOB_CHECKER' defined.

In [10]:
macro MY_TABLE = {local::DuckDuckDatabase.test3}

Macro 'MY_TABLE' defined.

In [11]:
macro MY_RUNTIME = from(local::DuckDuckRuntime)

Macro 'MY_RUNTIME' defined.

In [12]:
#>{local::DuckDuckDatabase.test3}#->filter(x|macro{JOB_CHECKER})->select(~[EMPLOYEE_ID])->from(local::DuckDuckRuntime)

   EMPLOYEE_ID
0          109
1          110
2          111
3          112
4          113

In [13]:
#>{local::DuckDuckDatabase.test3}#->filter(x|macro{JOB_CHECKER})->select(~[EMPLOYEE_ID])->macro{MY_RUNTIME}

   EMPLOYEE_ID
0          109
1          110
2          111
3          112
4          113

In [14]:
#>macro{MY_TABLE}#->filter(x|macro{JOB_CHECKER})->select(~[EMPLOYEE_ID])->macro{MY_RUNTIME}

   EMPLOYEE_ID
0          109
1          110
2          111
3          112
4          113

In [15]:
show_macros

Defined Macros:

macro{MY_TABLE} = {local::DuckDuckDatabase.test3}

macro{JOB_CHECKER} = $x.JOB_ID == 'FI_ACCOUNT'

macro{MY_RUNTIME} = from(local::DuckDuckRuntime)

In [16]:
macro JOB_CHECKER = $x.JOB_ID == 'FB_ACCOUNT'

Macro 'JOB_CHECKER' defined.

In [17]:
show_macros

Defined Macros:

macro{MY_TABLE} = {local::DuckDuckDatabase.test3}

macro{JOB_CHECKER} = $x.JOB_ID == 'FB_ACCOUNT'

macro{MY_RUNTIME} = from(local::DuckDuckRuntime)

In [18]:
macro JOB_CHECKER = $x.JOB_ID == 'FI_ACCOUNT'

Macro 'JOB_CHECKER' defined.

In [19]:
show_macros

Defined Macros:

macro{MY_TABLE} = {local::DuckDuckDatabase.test3}

macro{JOB_CHECKER} = $x.JOB_ID == 'FI_ACCOUNT'

macro{MY_RUNTIME} = from(local::DuckDuckRuntime)

In [20]:
clear_macros

All macros cleared.

In [21]:
show_macros

Defined Macros:

In [23]:
get_tables local::DuckDuckConnection

{
  "tables": [
    "sample__sport",
    "sample__tree",
    "test3"
  ]
}